 {% extends 'base.html.twig' %}

 {% block body %}
    <br>
    <div class="form-form">
    <h1> Mot de passe oublié ! </h1>
      {{ form_start(emailForm)}}

    {{form_row(emailForm.email, { 'label' : 'Email', 'attr' :
    { 'placeholder' : 'Email ...', 'class' :'form-control'}})}}
    <br>
    <button type="submit" class="btn btn-primary">Envoyer</button>
      {{form_end(emailForm)}}
    </div> 

 {% endblock %}