{% extends 'base.html.twig' %}
      
	{% block body %}
			<div class="contact">
				<h2 class="aide pro">A propos</h2>
				<h3 class="uty">Notre objectif est de permettre au potentiel acheteur d'un appareil d'occasion de savoir s'il est volé ou pas
				</h3>
				<h3 class="uty">Offrir un espace utilisateur pour enregistrer les caractéristiques de ses appareils</h3>
			</div>
            
			
	{% endblock %}


