{% extends 'base.html.twig' %}
{% block body %}

		<div class="contact">

			<h2 class="aide">Contact</h2>
			<hr style="width: 200px;">
			<h3>
				45 rue des saint pères, Paris 75006 France</h3>
			<h3>
				Contact@StolenOrNot.com</h3>
			<h3>
				+ 01 234 567 88</h3>
			<h3>
				+ 01 234 567 89</h3>

			
		</div>
		{% endblock %}

